* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.btns {
    margin-right: 40px;
    display: flex;
    gap: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
}