* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 35px 45px;
}

.btns {
    margin-right: 80px;
    display: flex;
    gap: 10px;
    margin-top: -10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
}

.btn1 {
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
}

h1 {
    margin-top: -45px;
    margin-left: 20px ;
    font-size: 80px;
}

h1 span {
    font-size: 85px;
}