* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* Make list link color black and remove underline */
nav ul li a,
nav a {
    color: black;
    text-decoration: none;
}